body {
  display: flex;
  background-image: linear-gradient(#40C3F9, #853BFB);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#root {
  padding: 30px;
  font-family: "Open Sans", sans-serif;
  max-width: 1000px;
  min-height: 800px;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #00000050;
}

nav > a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #853BFB;
  margin-right: 30.5px;
  text-decoration: none;
}

nav > a.active {
  font-weight: 600;
  text-decoration: none;
}

nav > a:hover {
color: #40C3F9;
text-decoration: underline;
}

nav {
  padding-bottom: 20px;
  border-bottom: 1px solid #979797;
  margin-bottom: 20px;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  margin: 0;
  margin-bottom: 18px;
}

hr {
  border: none;
  border-top: 1px solid #979797;
  margin: 20px 0;
}

input[type="submit"] {
  background: #853BFB;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  border: none;
  outline: none;
  padding: 10px 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  margin-bottom: 0px;
}

input[type="submit"] {
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #40C3F9;
}

input,
select {
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
  border: 1px solid #979797;
  border-radius: 4px;
  padding: 7px 9.5px 9px 9.5px;
  outline: none;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.tile {
  margin: 0;
  font-size: 14px;
  margin-bottom: 4px;
}

.tile.tile-title {
  font-weight: bold;
}

.tile-container {
  margin-bottom: 20px;
}
